* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "monsterrat", sans-serif;
    font-size: 10px;
}

body {
    background: #eee;
    padding: 0 1.6rem;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

/* Header Section */
header {
    background-color: #f5ba13;
    margin: auto -1.6rem;
    padding: 1.6rem 3.2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    font-size: 3rem;
}

/* Note Card */
.note {
    background: #fff;
    border-radius: .7rem;
    box-shadow: 0 .2rem .5rem #ccc;
    padding: 1rem;
    width: 24rem;
    margin: 1.6rem;
    float: left;
}

.note h1 {
    font-size: 1.8rem;
    margin: 0 0 .6rem 0;
}

.note p {
    font-size: 1.8rem;
    margin: 0 0 .6rem 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    padding: 0 .5rem;
    float: right;
    margin-right: 1rem;
    color: #f5ba13;
    border: none;
    height: 3.6rem;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

/* Create Note Area */
form.create-note {
    position: relative;
    width: 48rem;
    margin: 3rem auto 2rem auto;
    background: #fff;
    padding: 1.5rem;
    border-radius: .7rem;
    box-shadow: 0 .1rem .5rem #8a8989
}

form.create-note input,
form.create-note textarea {
    width: 100%;
    border: none;
    padding: .4rem;
    outline: none;
    font-size: 2rem;
    font-family: inherit;
    resize: none;
}

form.create-note button {
    position: absolute;
    right: 1.8rem;
    bottom: -1.8rem;
    background-color: #f5ba13;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    cursor: pointer;
    outline: none;
}

/* Footer Section */
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 4rem;
}

footer p {
    color: #ccc;
}

